@model WebApplication3.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stud_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stud_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stud_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stud_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qrImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qrImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stud_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
